# ──────────────────────────────────────────
# Environnement
# ──────────────────────────────────────────
.env
.env.local
.env.*.local
.env.prod
# ──────────────────────────────────────────
# Docker
# ──────────────────────────────────────────
docker-compose.override.yml

# ──────────────────────────────────────────
# Logs
# ──────────────────────────────────────────
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# ──────────────────────────────────────────
# OS
# ──────────────────────────────────────────
.DS_Store
Thumbs.db

# ──────────────────────────────────────────
# Editeurs
# ──────────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo